set -g default-terminal "tmux-256color"
set -ga terminal-overrides ",*col*:Tc"
set -g default-shell /bin/fish


foreground='#e2e2e3'
background='#2c2e34'
border="#b39df3"
indicator='#76cce0'
indicator_highlighted='#fc5d7c'
contrast='#7f8490'
contrast_alt='#f39660'

# Stolen from https://github.com/dracula/tmux
set-option -g status-left-length 100
set-option -g status-right-length 100
set-option -g clock-mode-style 24
set-option -g pane-active-border-style "fg=${border}"
set-option -g pane-border-style "fg=${foreground}"
set-option -g message-style "bg=${background},fg=${foreground}"
set-option -g status-style "bg=${background},fg=${foreground}"
set-window-option -g window-status-current-format "#[bg=${contrast}]#{?window_zoomed_flag,#[bg=${contrast_alt}],} #I #W "
set-window-option -g window-status-format "#[fg=${foreground}]#[bg=${background}] #I #W${flags}"
set-window-option -g window-status-activity-style "bold"
set-window-option -g window-status-bell-style "bold"
set-option -g status-left "#[bg=${indicator}]#{?client_prefix,#[bg=${indicator_highlighted}],}  "
set-option -g  status-right ""
set-option -ga status-right "#[fg=${foreground},bg=${contrast}] %a %d/%m %R ${timezone}"

# VIM mode
set -g mode-keys vi

# Remap prefix from 'C-b' to 'C-ai
unbind C-b                  # remove bind for C-b
set-option -g prefix C-a    
bind-key C-a send-prefix

# Start windows and panes at 1, not 0
set -g base-index 1
setw -g pane-base-index 1

# Create Panes: window splitting
# Split vertically
unbind %
bind | split-window -h    # Prefix | to create vertical split
# Split horizontally
unbind '"'
bind - split-window -v    # Prefix - to create horizontal split


# resize panes
bind -r H resize-pane -L 5   # 5 px bigger to the left
bind -r J resize-pane -D 2   # 5 px bigger down
bind -r K resize-pane -U 2   # 5 px bigger up
bind -r L resize-pane -R 5   # 5 px bigger right

###########################
# Plugins
##########################
# To install plugins:
#   1) Add plugin down here
#   2) Prefix + I to install plugin
# To update plugins:
#   1) Prefix + U
# To remove plugins:
#   1) Remove line down here
#   2) Prefix + ALT + U
# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'jabirali/tmux-tilish'

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'git@github.com:user/plugin'
# set -g @plugin 'git@bitbucket.com:user/plugin'

# C-h => move to left pane
# C-j => move to pane below
# C-k => move to pane above
# C-l => move to right pane
# Smart pane switching with awareness of Vim splits.
# See: https://github.com/christoomey/vim-tmux-navigator



# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)

run '~/.tmux/plugins/tpm/tpm'
