[user]
	name = {{ .name}}
	email = {{ .email }}
[init]
	defaultBranch = master
[alias]
	sla = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = true
