* {
  border:        none;
  border-radius: 0;
  font-family:   Sans;
  font-size:     15px;
  box-shadow:    none;
  text-shadow:   none;
  transition-duration: 0s;
}

window {
  color:            #abb2bf;
  background-color: rgba(40, 40, 40, 0.8)
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding:    0 5px;
  color:      rgba(251, 241, 199, 0.4);
}

#workspaces button.visible {
  color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
  border-top: 3px solid rgba(217, 216, 216, 1);
  border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
  color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #temperature {
  margin:     0px 6px 0px 10px;
}

/* 
====================================================
MEMORY
====================================================
 */
#memory {
  color: #458588;
}

/* 
====================================================
CPU
====================================================
 */

#cpu {
  color: #8EC07C;
}

#cpu.warning {
  color: #FABD2F;
}

#cpu.critical {
  color: #FB4934;
}

/* 
====================================================
TEMPERATURE
====================================================
 */

#temperature {
  color: #D3869B;
}
#temperature.critical {
  color: #FB4934;
}

/* 
====================================================
CLOCK
====================================================
 */
#clock {
  color: #a89984;
  margin:     0px 16px 0px 10px;
  min-width:  140px;
}

/* 
====================================================
PULSEAUDIO
====================================================
 */

#pulseaudio {
  color:     #ebdbb2;
  font-size: 18px;
  margin-top: 2px;
}

#pulseaudio.bluetooth {
  color: #458588;
}

#pulseaudio.muted {
  color: #fb4934;
}

/* 
====================================================
NETWORK
====================================================
 */
#network.disconnected, #network.ethernet {
  color: #FB4934;
  font-weight: bold; 
}

#network.wifi {
  color: #83a598;
}

/* 
====================================================
BATTERY
====================================================
 */
#battery.discharging {
  color:      #83a598;
}

#battery.charging {
  color:      #B8BB26;
}

#battery.warning {
  color:       #FFB74D;
}

#battery.critical {
  color:      #B71C1C;
}

#custom-storage.warning {
  color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color:      rgba(238, 46, 36, 1);
}
