* {
  border:        none;
  border-radius: 0;
  font-family:   Sans;
  font-size:     15px;
  box-shadow:    none;
  text-shadow:   none;
  transition-duration: 0s;
}

window {
  color:      rgba(217, 216, 216, 1);
  background: rgba(35, 31, 32, 0.7);
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding:    0 5px;
  color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
  color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
  border-top: 3px solid rgba(217, 216, 216, 1);
  border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
  color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #temperature {
  margin:     0px 6px 0px 10px;
}

/* 
====================================================
MEMORY
====================================================
 */
#memory {
  color: #FFAB91;

}

/* 
====================================================
CPU
====================================================
 */

#cpu {
  color: #B39DDB;
}

#cpu.warning {
  color: #FFB74D;
}

#cpu.critical {
  color: #B71C1C;
}

/* 
====================================================
TEMPERATURE
====================================================
 */

#temperature {
  color: #90CAF9;
}
#temperature.critical {
  color: #B71C1C;
}

/* 
====================================================
CLOCK
====================================================
 */
#clock {
  color: #BCAAA4;
  margin:     0px 16px 0px 10px;
  min-width:  140px;
}

/* 
====================================================
PULSEAUDIO
====================================================
 */

#pulseaudio {
  color: #ffcdd2;
  font-size: 18px;
  margin-top: 4px;
}

#pulseaudio.bluetooth {
  color: #3B5998;
}

#pulseaudio.muted {
  color: #B71C1C;
}

/* 
====================================================
NETWORK
====================================================
 */
#network.disconnected, #network.ethernet {
  color: #C8E6C9;
  font-weight: bold; 
}

#network.wifi {
  color: #9fa8da;
}

/* 
====================================================
BATTERY
====================================================
 */
#battery.full {
  color:      #DCEDC8;
}

#battery.discharging {
  color:      #90CAF9;
}

#battery.charging {
  color:      #66BB6A;
}

#battery.warning {
  color:       #FFB74D;
}

#battery.critical {
  color:      #B71C1C;
}

#custom-storage.warning {
  color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color:      rgba(238, 46, 36, 1);
}
